/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://use.typekit.net/cea2lqn.css");

/* CSS Reset Code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* PARAGON CSS HERE */
:root {
    --orange: rgb(255, 119, 0);
    --white: rgb(242,242,242);
    --lt-gray: rgb(168, 168, 168);
    --dk-gray: rgb(26, 25, 29);
    --black: rgb(16, 16, 20);
    --deep-black: rgb(14, 14, 15);
    --fonts: 'roboto', sans-serif;
    background-color: var(--dk-gray);
}

::selection{
    background-color: var(--white);
    color: var(--black);
    text-shadow: none;
}

a::selection{
    color: var(--orange);
}

body {
    font-family: var(--fonts);
}

/* General Styles */
section {
    margin-top: 3.5vh;
}

img {
    color: var(--lt-gray);
}

h2, h3, h4 {
    line-height: 1.75;
}

h2 {
    color: var(--white);
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    color: var(--orange);
    font-size: 1.6rem;
    font-weight: 500;
}

p {
    color: var(--white);
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
}

a {
    color: var(--orange);
    text-decoration: none;
}

a:hover {
    color: var(--white);
}

.note {
    color: var(--lt-gray);
    font-size: 1.1rem;
    font-weight: 400;
}

/* Navigation Bar */
nav {
    width: 100vw;
    height: 60px;
    align-items: center;
    background-color: var(--black);
    border-bottom: solid 1px var(--lt-gray);
    padding: 2vh 0;
    position: fixed;
    z-index: 99;
    top: 0;
    
}

nav svg {
    width: auto;
    height: 55px;
}

.full_nav a:hover{
    color: var(--orange);
}

.paragon_logo {
    white-space: nowrap;
}

h1{
    display: inline-block;
    padding-left: 10px;
}

.paragon{
    color: var(--orange);
    font-family: "futura-pt", 'roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.escape {
    color: var(--white);
    font-size: 20px;
    line-height: 1;
    font-family: "courier-std", courier, monospace;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 6.1px;
}

.full_nav > ul{
    display: inline-flex;
    gap: 2.5vw;
    justify-content: flex-end;
}

.full_nav > ul > li{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2;
}

li > a {
    color: var(--white);
}

li > a:hover {
    color: var(--orange);
}

.full_nav {
    width: 80vw;
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns: 25vw auto;
}

.main_nav {
    text-align: right;
    float: right;
}

.main_nav > li {
    display: inline-block;
}

.dropdown {
    display: none;
    text-align: left;
    z-index: 100;
}

.dropdown li{
    padding: 0 2rem 1rem 2rem;
}

li:hover .dropdown {
    display: block;
    position: absolute;
    background-color: var(--black);
    border-bottom: solid 1px var(--lt-gray);
}

/* Main Content */
/* Landing Section */
.welcome {
    width: 100%;
    height: 100vh;
    background: url(https://www.paragonescape.com/media/welcome-background-pharaohs.png) right top no-repeat;
    background-size: auto 100vh, cover;
    zoom: 120%;
    z-index: -1;
}

.welcome img {
    display: block;
    width: 40vw;
    height: auto;
    margin: 0 auto;
    padding-top: 15vh;
}

/* Info Section */
#info {
    padding-top: 4vh;
    margin: 0 10vw;
    text-align: center;
}

#info > p {
    color: var(--orange);
}

.info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3vw;
}

/* Games Section */
/* General */
#games {
    background-color: var(--black);
}

#games > h2 {
    text-align: center;
}

#games p {
    margin: 1vh 10vw;
    text-shadow: .1rem .1rem .075rem var(--black);
}

/* Awards */
.awards > p {
    color: var(--orange);
    text-align: center;
    font-weight: 700;
    padding-bottom: 4vh;
}

.awards img {
    max-height: 15vh;
    margin: 0 auto;
}

.awards div{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 0 10vw;
    align-items: center;
}

/* General Rooms */
#games h3 {
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--white);
    text-shadow: .25rem .25rem .3rem var(--dk-gray);
    display: inline-block;
}

#games iframe {
    margin: 0 10vw;
}

.room-info {
    margin-top: 4vh;
}

.room-menu {
    margin: 5vh 10vw;
}

.learn {
    color: var(--orange);
    background-color: transparent;
    border: 1px solid var(--orange);
    font-weight: 500;
    padding: 1rem 3.5vw;
    font-size: 1.3rem;
}

.learn:hover {
    color: var(--orange);
    background-color: var(--white);
    border: 1px solid var(--white);
}

.mini-book {
    display: inline;
    color: var(--white);
    border: 2px solid var(--orange);
    font-weight: 500;
    padding: .5rem 1vw;
    font-size: .9rem;
}

.mini-book:hover {
    color: var(--orange);
    background-color: var(--white);
    border: 2px solid var(--white);
}

.book {
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid var(--orange);
    font-weight: 500;
    padding: 1rem 3.5vw;
    font-size: 1.3rem;
}

.book:hover {
    color: var(--orange);
    background-color: var(--white);
    border: 1px solid var(--white);
}

/* Pharaohs */
#pharaohs {
    height: auto;
    background: url(https://www.paragonescape.com/media/pharaohs-foreground-small.png) right center no-repeat, url(https://www.paragonescape.com/media/pharaohs-foreground-simple.webp) right center no-repeat, url(https://www.paragonescape.com/media/pharaohs-background.webp) center no-repeat;
    background-size: cover;
    padding: 7vh 0;
    text-align: left;
}

#pharaohs h3 {
    margin: 0 2vw 0 10vw;
}

/* PHARAOHS iFRAME */

/* Clockwork */
#clockwork {
    height: auto;
    background: url(https://www.paragonescape.com/media/clockwork-foreground-small.png) right center no-repeat, url(https://www.paragonescape.com/media/clockwork-background.webp) center no-repeat;
    background-size: cover;
    padding: 7vh 0;
    text-align: right;
}

#clockwork h3 {
    margin: 0 10vw 0 2vw;
}

/* CLOCKWORK iFRAME */

/* About Us Section */
#about {
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

.why {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 3vw;
}

.why p {
    width: 80%;
    margin: 0 auto;
}
/* FAQs */
#faq {
    margin-left: 10vw;
    margin-right: 10vw;
}

#faq a {
        color: var(--white);
        text-decoration: none;
        font-weight: 400;
}
    
    #faq a:hover {
        color: var(--orange);
}

#faq h4 {
    color: var(--white);
    font-weight: 500;
    font-size: 1.3rem;
}

#faq p {
    font-size: 1.1rem;
    color: var(--lt-gray);
}

.faq_box
{
  max-width: 80vw;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--lt-gray);
  cursor: pointer;
}

.question
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.faq_box.active .answer
{
  max-height: 300px;
}

/* Contact */
#contact {
    text-align: center;
}

#contact iframe {
    width: 100%;
    margin-bottom: 5vh;
}

#contact h2, #contact a {
    margin-left: 10vw;
    margin-right: 10vw;
}

#contact h2 {
    border-bottom: 2px solid var(--orange);
    margin-bottom: 2vh;
}

#contact a {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white);
}

#contact a:hover {
    color: var(--orange);
}

/* Footer */
footer {
    padding: 2%;
    text-align: center;
    margin-top: 5vh;
}