@import url("https://use.typekit.net/cea2lqn.css");

/* CSS Reset Code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------------- */
/* --------------------------- */


/* PARAGON CSS HERE */
/* General */
:root {
    --orange: rgb(255, 119, 0);
    --white: rgb(242,242,242);
    --lt-gray: rgb(202, 202, 202);
    --dk-gray: rgb(26, 25, 29);
    --black: rgb(12, 12, 14);
    --deep-black: rgb(9, 9, 10);
    --fonts: 'roboto', sans-serif;
    background-color: var(--dk-gray);
    font-size: 7px;
}

*:focus-visible {
    outline: 3px solid var(--white);
}

@media only screen and (min-width: 275px) {
    :root {
        font-size: 12px;
    }
}

@media only screen and (min-width: 425px) {
    :root {
        font-size: 14px;
    }
}

@media only screen and (min-width: 520px) {
    :root {
        font-size: 18px;
    }
}

@media only screen and (min-width: 750px) {
    :root {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        font-size: 28px;
    }
}

@media only screen and (min-width: 2200px) {
    :root {
        font-size: 38px;
    }
}

::selection{
    background-color: var(--white);
    color: var(--black);
    text-shadow: none;
}

a::selection, button::selection{
    color: var(--orange);
}

body {
    font-family: var(--fonts);
}

img {
    color: var(--lt-gray);
}

p {
    color: var(--white);
    font-size: 1rem;
    line-height: 2;
    font-weight: 300;
    letter-spacing: 1px;
}

a, button {
    color: var(--orange);
    text-decoration: none;
    letter-spacing: 1.2px;
    font-family: var(--fonts);
    border: none;
}

a:hover {
    color: var(--white);
}

h2, h3, h4 {
    line-height: 2;
    letter-spacing: 0.125rem;
}

h2 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (min-width:275px) {
    h2 {
        font-size: 2.7rem;
    }
}

h3 {
    color: var(--orange);
    font-size: 1.7rem;
    font-weight: 500;
}

svg {
    pointer-events: none;
}

/* HEADER */
/* NAVIGATION */
    /* All Devices */
    nav {
        width: 100%;
        background-color: var(--black);
        position: fixed;
        top: 0;
        box-shadow: 0 0.55rem 0.7rem rgba(5, 5, 6, 0.95);
        z-index: 100;       
    }

        /* .full_nav */
        @media only screen and (min-width: 1200px) {
            .full_nav {
                display: grid;
                grid-template-columns: 30% auto;
                margin: 0 10%;
                height: inherit;
            }
        }

        /* .paragon_logo */

        .paragon_logo {
            width: fit-content;
            white-space: nowrap;
            display: block;
            height: fit-content;
        }

        h1 {
            padding-left: 10px;
            white-space: normal;
            vertical-align:top;
        }

        h1 .paragon {
            color: var(--orange);
            font-family: "futura-pt", 'roboto', sans-serif;
            font-weight: 500;
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: 0.65px;
            height: fit-content;
        }

        h1 .escape {
            color: var(--white);
            line-height: 1;
            font-family: "courier-std", courier, monospace;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 6.1px;
        }

        /* .paragon_logo @media */
            nav {
                height: 60px;
                padding: 8px 0 0;
            }
            
            .paragon_logo {
                margin: 0 auto;
            }

            .paragon_logo svg {
                width: auto;
                height: 45px;
                margin-top: 4px;
            }

            .paragon_logo img {
                width: auto;
                height: 45px;
                margin-top: 4px;
            }

            h1 {
                display: none;
                margin-top: 5px;
            }
            
        @media only screen and (min-width: 275px) {
            nav {
                height: 60px;
            }

            .paragon_logo svg {
                width: auto;
                height: 45px;
                margin-top: 4px;
            }

            .paragon_logo img {
                width: auto;
                height: 45px;
                margin-top: 4px;
            }

            h1 {
                display: inline-block;
            }

            h1 .paragon {
                font-size: 27px;
            }

            h1 .escape {
                font-size: 8px;
            }
        }

        @media screen and (min-width: 425px) {
            h1 {
                line-height: 0.8;
                margin-top: 8px;
            }
        }

        @media only screen and (min-width: 520px) {
            nav {
                height: 75px;
                padding: 8px 0;
            }

            .paragon_logo svg {
                width: auto;
                height: 66px;
            }

            .paragon_logo img {
                width: auto;
                height: 66px;
            }

            h1 {
                line-height: 1;
                margin-top: 4px;
            }

            h1 .paragon {
                font-size: 43px;
            }

            h1 .escape {
                font-size: 18.2px;
            }
        }

        @media only screen and (min-width: 750px) {
            h1 {
                line-height: 0.83;
                margin-top: 8px;
            }
        }

        @media only screen and (min-width: 1200px) {
            .paragon_logo {
                margin: 0;
            }

            h1 {
                line-height: 0.85;
            }
        }

        @media only screen and (min-width: 2200px) {
            nav {
                height: 125px;
            }

            .paragon_logo svg {
                width: auto;
                height: 110px;
                margin-top: 8px;
            }

            .paragon_logo img {
                width: auto;
                height: 110px;
                margin-top: 8px;
            }

            h1 {
                margin-top: 8px;
            }

            h1 .paragon {
                font-size: 70px;
            }
    
            h1 .escape {
                font-size: 25px;
                letter-spacing: 12.5px;
            }
        }
    /* .paragon_logo end */


        /* .main_nav */
            /* .nav_item */
            .nav_item {
                margin: 1rem auto 0;
                width: fit-content;
                line-height: 2;
            }

            .nav_item6 {
                margin-bottom: 1.5rem;
            }
            
            .nav_link {
                color: var(--white);
                font-size: 2rem;
                font-weight: 500;
                line-height: 2;
            }

            .height_adj {
                height: 24px;
            }

            .nav_link:hover, .nav_link:focus-visible, .games_link:hover, .games_hover:focus-visible, .games_hover.active {
                color: var(--orange);
            }

            .nav_item svg {
                width: 1.5rem;
                height: auto;
                margin-bottom: 1px;
                stroke: var(--white);
                stroke-width: 7.5;
            }

            .games_button_fix {
                line-height: 2;
            }

            .games_hover {
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: var(--white);
                font-size: 2rem;
                font-weight: 500;
                padding: 0;
                line-height: 1.25;
            }

            .svg_hover {
                transition: transform 0.2s ease-in-out;
            }

            /* .nav_item3:focus-within .svg_hover {
                transform: rotate(-180deg);
            } */

            .games_hover.active .svg_hover {
                transform: rotate(-180deg);
            }

            /* .games_hover:hover .svg_hover, .games_hover:focus .svg_hover, .nav_item3:focus-within .svg_hover {
                stroke: var(--orange);
            } */

            .games_hover.active .svg_hover, .games_hover:hover .svg_hover, .games_hover:focus-visible .svg_hover {
                stroke: var(--orange);
            }

            .dropdown .nav_item {
                margin: 1rem auto;
            }

            .dropdown .nav_link {
                color: var(--lt-gray);
            }

            .dropdown .nav_link:hover {
                color: var(--orange);
            }

        /* @media .main_nav */
                .main_nav {
                    top: 66px;
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    background-color: var(--black);
                    width: 100%;
                    text-align: center;
                    max-height: 0;
                    padding-bottom: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-in-out, padding-bottom 0.2s ease-in-out;
                    box-shadow: 0 0.5rem 0.7rem rgba(5, 5, 6, 0.95);
                }

                .main_nav.active {
                    max-height: 750px;
                    padding-bottom: 5px;
                }

                .main_nav > .nav_item {
                    visibility: hidden;
                }

                .main_nav.active > .nav_item {
                    visibility: visible;
                }
                
                .hamburger {
                    display: block;
                    border: none;
                    cursor: pointer;
                    position: fixed;
                    left: 86%;
                    top: 23px;
                    width: 35px;
                    background-color: transparent;
                }

                .hamburger:focus-visible {
                    outline: 3px solid white;
                    outline-offset: 5px;
                }

                .ham_bar {
                    display: block;
                    -webkit-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, scale 0.3s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
                    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, scale 0.3s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
                    border: 1px solid var(--white);
                    border-radius: 1rem;
                    background-color: var(--white);
                    margin-bottom: 5px;
                }

                /* .hamburger animation */
                .hamburger.active .ham_bar {
                    border-color: var(--orange);
                    background-color: var(--orange);
                }

                .hamburger.active .ham_bar:nth-child(2) {
                    transform: rotate(25deg);
                    opacity: 0;
                    scale: 0.25;
                }

                .hamburger.active .ham_bar:nth-child(1) {
                    transform: translateY(7px) rotate(45deg);
                }

                .hamburger.active .ham_bar:nth-child(3) {
                    transform: translateY(-7px) rotate(-45deg);
                }
                
                /* .dropdown open and close */
                .dropdown {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-in-out;
                    padding: 0 1rem;
                }

                /* .nav_item3:focus-within .dropdown {
                    max-height: 8.6rem;
                } */

                .nav_item3.active .dropdown {
                    max-height: 86px;
                }

                .dropdown a {
                    visibility: hidden;
                    font-size: 1.4rem;
                }

                .dropdown li {
                    width: 0;
                }

                .dropdown .nav_item {
                    margin: 0.5rem auto;
                }

                .dropdown .nav_item:last-child {
                    margin-bottom: 0;
                }

                /* .nav_item3:focus-within .dropdown a {
                    visibility: visible;
                } */

                .nav_item3.active .dropdown a {
                    visibility: visible;
                }

                /* .nav_item3:focus-within .dropdown li {
                    width: fit-content;
                } */

                .nav_item3.active .dropdown li {
                    width: fit-content;
                }


            @media only screen and (min-width: 275px){
                .main_nav {
                    top: 64px;
                }

                .nav_link {
                    font-size: 1.3rem;
                }

                .nav_item svg {
                    width: 1rem;
                    margin-bottom: 0;
                }

                .games_hover {
                    font-size: 1.3rem;
                }

                .dropdown a {
                    font-size: 1.1rem;
                }

                /* .nav_item3:focus-within .dropdown {
                    max-height: 7rem;
                } */

                .nav_item3.active .dropdown {
                    max-height: 65px;
                }
            }

            @media only screen and (min-width: 275px){
                .nav_item3.active .dropdown {
                    max-height: 76px;
                }
            }

            @media only screen and (min-width: 520px){
                .nav_link, .games_hover {
                    font-size: 1.1rem;
                }

                .games_hover svg {
                    width: 0.85rem;
                }
                
                .main_nav {
                    top: 80px;
                }

                .hamburger {
                    left: 83%;
                    top: 28px;
                    width: 50px;
                }

                .dropdown a {
                    font-size: 0.85rem;
                }

                /* .nav_item3:focus-within .dropdown {
                    max-height: 6.2rem;
                } */

                .nav_item3.active .dropdown {
                    max-height: 90px;
                }

                .ham_bar {
                    margin-bottom: 8px;
                    border-width: 2px;
                }

                /* .hamburger animation */            
                .hamburger.active .ham_bar:nth-child(1) {
                    transform: translateY(12px) rotate(45deg);
                }
            
                .hamburger.active .ham_bar:nth-child(3) {
                    transform: translateY(-12px) rotate(-45deg);
                }
            }

            @media only screen and (min-width: 750px){
                .nav_link {
                    font-size: 0.9rem;
                }

                .nav_item svg {
                    width: 0.75rem;
                    margin-bottom: 0;
                }

                .games_hover {
                    font-size: 1rem;
                }

                .nav_item3.active .dropdown {
                    max-height: 120px;
                }
            }

            @media only screen and (min-width: 1200px) {
                .main_nav{
                    display: block;
                    visibility: visible;
                    position: relative;
                    overflow: visible;
                    display: inline-flex;
                    flex-direction: row;
                    top: -20px;
                    max-height: fit-content;
                    background-color: transparent;
                    margin: 0.5rem 0;
                    text-wrap: nowrap;
                    box-shadow: none;
                    justify-content: space-between;
                    place-items: center;
                    margin-left: auto;
                }

                .main_nav > .nav_item {
                    visibility: visible;
                    position: relative;
                    width: auto;
                    text-align: right;
                    margin-right: 0;
                    line-height: 1;
                }

                .main_nav .nav_item {
                    margin-top: 0.4rem;
                    margin-bottom: 0.4rem;
                }

                .nav_item3 button {
                    line-height: 1.25;
                    margin-bottom: 0.6rem;
                }

                .nav_link {
                    font-size: 0.75rem;
                }

                .nav_item svg {
                    width: 0.6rem;
                }

                .games_hover {
                    font-size: 0.75rem;
                }

                .hamburger {
                    display: none;
                }

                .dropdown {
                    visibility: visible;
                    padding-left: 0;
                    padding-right: 0;
                    overflow: hidden;
                    position: absolute;
                    background-color: var(--black);
                    margin: 15px 0 0 -25px;
                    transition: max-height 0.3s ease-in-out, box-shadow 0.3s ease-out;
                    border-radius: 0.35rem;
                }

                .dropdown li {
                    width: auto;
                }

                .dropdown a {
                    font-size: 0.75rem;
                }

                .dropdown .nav_item{
                    padding: 0 1rem 0.5rem 1rem;
                    text-align: left;
                    margin-left: 0;
                    line-height: 1;
                }

                /* .nav_item3:focus-within .dropdown, .nav_item3:hover .dropdown { 
                    box-shadow: 0 1rem 0.8rem -0.5rem rgba(8, 8, 10, 0.75);
                    max-height: 200px;
                    padding-top: 15px;
                    margin-top: 0px;
                } */

                .nav_item3.active .dropdown { 
                    box-shadow: 0 1rem 0.8rem -0.5rem rgba(8, 8, 10, 0.75);
                    max-height: 200px;
                    padding-top: 15px;
                    margin-top: 0px;
                }

                /* .nav_item3:focus-within .dropdown a, .nav_item3:hover .dropdown a {
                    visibility: visible;
                } */

                .nav_item3.active .dropdown a {
                    visibility: visible;
                }
        }

        @media only screen and (min-width: 2200px) {
            .main_nav {
                top: -12px;
                margin-top: 0.3rem;
            }

            .dropdown {
                margin-left: -37px;
            }
        }

        @media only screen and (max-height: 775px) and (max-width: 1199.5px) and (orientation: landscape) {
            .main_nav {
                flex-direction: row;
                justify-content: space-evenly;
                position: absolute;
                height: fit-content;
            }

            .main_nav.active {
                max-height: 3.5rem;
            }
            .main_nav > .nav_item, .nav_item3 {
                height: min-content;
            }

            .nav_item {
                margin-bottom: 10px;
            }

            .nav_item6 {
                margin-bottom: 0;
            }

            .nav_link, .games_hover {
                font-size: 0.85rem;
            }

            .games_hover .svg_hover {
                width: 0.65rem;
                margin-top: 5px;
            }

            .dropdown .nav_item:first-child {
                margin-top: 0.5rem;
            }

            .dropdown a {
                font-size: 0.75rem;
            }

            /* .nav_item3:focus-within .dropdown {
                max-height: 6rem;
            } */

            .nav_item3.active .dropdown {
                max-height: 6rem;
            }

            .nav_item3 .dropdown {
                width: 100%;
                position: fixed;
                overflow: hidden;
                left: calc(-50% + 50%);
                background-color: var(--black);
                box-shadow: 0 0.5rem 0.7rem rgba(5, 5, 6, 0.95);
            }

            .dropdown .nav_item:last-child {
                padding-bottom: 10px;
            }
        }
/* NAVIGATION END */

/* FOOTER */
footer {
    padding: 2% 0 3%;
    text-align: center;
    background-color: var(--black);
}

footer .note {
    margin: 0 auto 1rem;
}

footer button {
    font: inherit;
    padding: 0.3rem 0.5rem;
    background-color: var(--dk-gray);
    border: 2px solid var(--white);
    border-radius: 0.25rem;
    color: var(--white);
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-size: 0.65rem;
    opacity: 0.85;
}

@media (hover: none) {
    footer button:active {
        color: var(--orange);
        background-color: var(--white);
        border-color: var(--white);
        opacity: 1;
    }
}

@media (hover: hover) {
    footer button:hover {
        color: var(--orange);
        background-color: var(--white);
        border-color: var(--white);
        opacity: 1;
    }
}

footer button:focus-visible {
    outline: 3px solid var(--orange);
    color: var(--orange);
    background-color: var(--white);
    border-color: var(--white);
    opacity: 1;
}